/*Para concretar las medidas que queremos y no nos afecte lo que tienen los navegadores por defecto*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem son 10 pixeles*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Globales*/

/*El tipo de letra para todo el body de la pagina web*/
body {
    font-family: sans-serif;
}

/*Para que las imagenes no se extiendan mas que el ancho del su respectivo contenedor*/
img {
    max-width: 100%;
    display: block;
}

/*El tipo de letra para todos lod h1, h2 y h3 de la pagina web*/
h1,
h2,
h3 {
    font-family: sans-serif;
}

/*El tamaño de letra de los h1 para los 3 tipos de medida*/
h1 {
    font-size: 8rem;
}

/*Tamaño de letra de los h2 de la pagina*/
h2 {
    font-size: 3rem;
}

/*Tamaño de letra de los h3 de la pagina*/
h3 {
    font-size: 3rem;
    margin: 0 0 0.5rem 0;
}

/*Quitar el subrayado, poner la letra en negro y dar tamaño de letra a todos los enlaces para los 3 tipos de medida*/
a {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
}

@media (min-width:768px) and (max-width:1278px) {
    a {
        font-size: 1.5rem;
    }
}

/*HEADER*/

/*Parte de arriba*/

/*Darle el color a todo el header*/
.header {
    background-color: white;
}

.header-buscador-sesion {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #01b0bf;
    height: 3rem;
    margin-bottom: 2rem;

}

.header-sesion {
    display: flex;
}

.header-buscador {
    display: flex;
    height: 2.2rem;
    margin-right: 1rem;
}

/*Estilos para los enlaces de iniciar sesion y registrarse*/
.header-sesion a {
    color: black;
    margin: 1rem;
    font-size: 1.3rem;
}

/*Logo*/

.imagen-titulo {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 10rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

/*Estilos para el logo de la empresa*/
.imagen-titulo img {
    height: 10rem;
    width: auto;
    margin-right: 1.5rem;
}

/*Dar color al titulo h1*/
.imagen-titulo h1 {
    color: #01b0bf;
}

/*Barra de buscar*/
.buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*Enlaces de navegacion*/

/*Dar separacion entre el logo y titulo, con respecto a los enlaces*/
.contenedor-navegacion {
    border-bottom: 0.1rem solid #01b0bf;
    height: 6rem;
}

/*Estilos para el nav donde estan todos los enlaces*/
.nav-principal {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

/*Estilos para los enlaces de dentro del nav*/
.nav-principal a {
    width: 100%; /* Ocupar el 100% del ancho del padre */
    text-align: center; /* Centrar el texto horizontalmente */
    margin: 0.5rem 0; /* Agregar la misma separación entre los enlaces */
    color: #01b0bf;
}

/*Estilos para los logos situados a la derecha de cada enlace*/
.nav-principal i {
    color: #01b0bf;
}

/*Hacer los enlaces mas grandes cuando el raton se queda parado encima de cada uno de ellos*/
.nav-principal a:hover {
    font-size: 1.7rem;
}


