/*Para concretar las medidas que queremos y no nos afecte lo que tienen los navegadores por defecto*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem son 10 pixeles*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Globales*/

/*El tipo de letra para todo el body de la pagina web*/
#fondo-body {
    font-family: sans-serif;
    background: radial-gradient(circle, #ffffff, #cfd9e5);
}

/*Para que las imagenes no se extiendan mas que el ancho del su respectivo contenedor*/
img {
    max-width: 100%;
    display: block;
}

/*El tipo de letra para todos lod h1, h2 y h3 de la pagina web*/
h1,
h2,
h3 {
    font-family: sans-serif;
}

/*El tamaño de letra de los h1 para los 3 tipos de medida*/
h1 {
    font-size: 8rem;
}

/*Tamaño de letra de los h2 de la pagina*/
h2 {
    font-size: 3rem;
    color: #8da2ad;
    text-align: center;
}

/*Tamaño de letra de los h3 de la pagina*/
h3 {
    font-size: 3rem;
    margin: 0 0 0.5rem 0;
}

/*Quitar el subrayado, poner la letra en negro y dar tamaño de letra a todos los enlaces para los 3 tipos de medida*/
a {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
}

@media (min-width:768px) and (max-width:1278px) {
    a {
        font-size: 1.5rem;
    }
}

/*HEADER*/

/*Parte de arriba*/

/*Darle el color a todo el header*/

.header-buscador-sesion {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #8da2ad;
    height: 3rem;
    margin-bottom: 2rem;

}

.header-sesion {
    display: flex;
}

.header-buscador {
    display: flex;
    height: 2.2rem;
    margin-right: 1rem;
}

/*Estilos para los enlaces de iniciar sesion y registrarse*/
.header-sesion a {
    color: black;
    margin: 0 3rem 0 1rem;
    font-size: 1.3rem;
}

/*Logo*/

.imagen-titulo {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 10rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

/*Estilos para el logo de la empresa*/
.imagen-titulo img {
    height: 14rem;
    width: 14rem;
}

/*Dar color al titulo h1*/
.imagen-titulo h1 {
    color: #8da2ad;
}

/*Barra de buscar*/
.buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*Enlaces de navegacion*/

/*Dar separacion entre el logo y titulo, con respecto a los enlaces*/
.contenedor-navegacion {
    border-bottom: 0.1rem solid #8da2ad;
    height: 6rem;
}

/*Estilos para el nav donde estan todos los enlaces*/
.nav-principal {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

/*Estilos para los enlaces de dentro del nav*/
.nav-principal a {
    width: 100%;
    /* Ocupar el 100% del ancho del padre */
    text-align: center;
    /* Centrar el texto horizontalmente */
    margin: 0.5rem 0;
    /* Agregar la misma separación entre los enlaces */
    color: #8da2ad;
}

/*Estilos para los logos situados a la derecha de cada enlace*/
.nav-principal i {
    color: #8da2ad;
}

/*Hacer los enlaces mas grandes cuando el raton se queda parado encima de cada uno de ellos*/
.nav-principal a:hover {
    font-size: 1.7rem;
}

/*FOOTER*/

/*Darle u color de fondo gris y dejar margen con respecto al formulario*/
footer {
    background-color: #f5f5f5;
    margin-top: 2rem;
    border-top: 0.2rem solid #8da2ad;
}

/*Darle una longitud horizontal de 75% para centrar ahi los elementos del footer*/
.div-footer {
    width: 95%;
    margin: 0 auto;
    display: flex;
}

/*Estilos para los tres contenedores del footer, donde esncuentran los enlaces y demas*/
.contenedor-footer {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin-left: 5rem;
}

/*Tamaño y posicion de los titulos h3 */
.contenedor-footer h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

/*Tamaño y posicion de las imagenes del footer*/
.contenedor-footer img {
    margin-top: 1.5rem;
    width: 80%;
}

/*Estilos para el div donde se encuentra el logo de la empresa y el nombre*/
.logo-footer {
    display: flex;
    align-items: center;
    height: 5rem;
}

/*Tamaño y posicion de la imagen del logo de la empresa*/
.logo-footer img {
    height: 5rem;
    width: 6.5rem;
    margin-right: 1rem;
}

/*Color y tamaño del titulo h1 del footer con el nombre de la empresa*/
.logo-footer h1 {
    color: #8da2ad;
    font-size: 2.5rem;
    margin: 0;
    white-space: nowrap;
}

/*Tamaño de letra y posicion del titulo h4 del div de la izquierda del footer*/
.contenedor-footer h4 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/*Estilos del nav donde estan los enlaces del footer*/
.enlaces-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
}

.contenedor-footer-soporte {
    width: 80%;
}

.contenedor-footer p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-align:justify
}

.contenedor-footer ul {
    padding-left: 0.8rem; /* Elimina el relleno predeterminado de la lista */
    margin-left: 0.3rem;
    margin-top: 0.5rem;
}

.contenedor-footer li {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    white-space: nowrap;
}

/*Footer de abajo del todo de la pagina*/

/*Estilos para el div donde esta la informacion de abajo del todo de la pagina*/
.div-footer-abajo {
    background-color: black;
    height: 2.6rem;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

/*Tamaño del div donde esta la informacion de los derechos y los dos enlaces*/
.div-footer-p {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 2.6rem;
    align-items: center;
}

/*Estilos para la letra de la informacion de los derechos y de los dos enlaces*/
.div-footer-p p,
.enlaces-footer-abajo a {
    color: white;
    font-size: 1.1rem;
}

/*Meter margen entre los dos enlaces*/
.enlaces-footer-abajo a {
    margin-left: 2.5rem;
}

/*Estilos para las tablas*/

table {
    width: 85%;
    margin: 0 auto;
}

.tabla th,
.tabla td {
    border: 1px solid #8da2ad;
    padding: 1rem;
}

.tabla th {
    font-size: 1.3rem;
}

.tabla td {
    text-align: center;
    font-size: 1.2rem;
}

.boton-enlace {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    background-color: #8da2ad;
    color: #e3e5ea;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
     border: 1px solid black;
}

.boton-eliminar {
    background-color: #8da2ad;
    color: #e3e5ea;
    font-size: 1.5rem;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
}

/*Formularios*/

.div-formulario {
    width: 80%;
    margin: 0 auto;
    display: flex; /* Convertir el contenedor en un contenedor flexible */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
}

.formulario  {
    width: 45%;
}

.formulario label {
    font-size: 2.2rem; /* Ajusta el tamaño de la fuente de las etiquetas */
    list-style-type: none; /* Elimina el punto negro de la izquierda */
    color: #8da2ad;
}

form input[type="text"],
form input[type="email"],
form input[type="number"] {
    border: 1px solid #8da2ad;
    border-radius: 4px;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.formulario input[type="submit"] {
    align-self: flex-end; /* El botón se alineará al final del formulario */
}