{% extends 'base.html' %}
{% block contenido %}
    <div class="div-atras">
        <a href="{% url 'empleado_list' %}" class="boton-atras"> <i class="fas fa-arrow-left"></i> Atrás </a>
    </div>
    <h2>Nuevo Empleado</h2>
    <div class="div-formulario">
        <form class="formulario" action="{% url 'empleado_create' %}" method="post">
            {% csrf_token %}
            {{ formulario.errors }}
            {{ formulario.as_ul }}
            <input type="submit" value="Nuevo empleado"/>
        </form>
    </div>
{% endblock %}