{% extends 'base.html' %}
{% block contenido %}
    <h2>Listado de empleados</h2>

        {% if empleados %}
            <table class="tabla">
                        <thead>
                            <tr>
                                <th>DNI</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Teléfono</th>
                               <th colspan="2"><a href="{% url 'empleado_create' %}" class="boton-enlace">Crear un empleado</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empleado in empleados %}
                	            <tr>
                                    <td>{{ empleado.dni }}</td>
                                    <td>{{ empleado.nombre }}</td>
                                    <td>{{ empleado.apellido }}</td>
                                    <td>{{ empleado.email }}</td>
                                    <td>{{ empleado.telefono }}</td>
                                    <td><a href="{% url 'empleados_update' empleado.id %}" class="boton-enlace">Modificar</a></td>
                                    <td>
                                        <form method="POST" action="{% url "empleados_delete" empleado.id%}">
                                            {% csrf_token %}
                                            <input class="boton-eliminar" type="submit" value="Eliminar">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
            </table>

        {% else %}
            <div class="nada-creado">
                <a href="{% url 'empleado_create' %}" class="boton-enlace">Crear un empleado</a>
                <p>No hay empleados creados</p>
            </div>
        {% endif %}
{% endblock %}
