{% extends 'base.html' %}
{% block contenido %}
     <div class="titulo-buscador">
        <h2>Listado de empelados</h2>
        <div class="buscador-listas">
            <form method="GET" action="{% url 'empleado_list' %}">
                <input id="input-buscador" type="text" name="q" placeholder="Buscar por nombre" value="{{ request.GET.q }}">
                <button class="botones-buscador" type="submit">Buscar</button>
                <button class="botones-buscador" type="submit"><a href="{% url 'empleado_list' %}">Atrás</a></button>
                <button id="aumentarTexto" class="zoomMasTexto">+</button>
                <button id="disminuirTexto" class="zoomMenosTexto">-</button>
            </form>
        </div>
    </div>
     <div class="sin-resultado" style="display: none;">
        <p>Lo sentimos, no hay empleados con el nombre <strong id="nombre-buscado"></strong>.</p>
        <p>Si lo deseas, puedes crearlo mediante este botón:</p>
        <a href="{% url 'empleado_create' %}" class="boton-enlace">Crear un empleado</a>
    </div>
    {% if empleados %}
        <table class="tabla">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th colspan="2"><a href="{% url 'empleado_create' %}" class="boton-enlace">Crear un empleado</a></th>
                </tr>
            </thead>
            <tbody id="body-tabla-empleados">
                {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.dni }}</td>
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.email }}</td>
                        <td>{{ empleado.telefono }}</td>
                        <td><a href="{% url 'empleados_update' empleado.id %}" class="boton-enlace">Modificar</a></td>
                        <td>
                            <form class="formulario-boton-eliminar" method="POST" action="{% url "empleados_delete" empleado.id%}">
                                {% csrf_token %}
                                <input class="boton-eliminar" type="submit" value="Eliminar">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="nada-creado">
            <a href="{% url 'empleado_create' %}" class="boton-enlace">Crear un empleado</a>
            <p>No hay empleados creados</p>
        </div>
    {% endif %}
{% endblock %}

