{% extends 'base.html' %}
{% block contenido %}
    <div class="titulo-buscador">
        <h2>Lista de equipos</h2>
        <div class="buscador-listas">
            <form method="GET" action="{% url 'equipo_list' %}">
                <input id="input-buscador" type="text" name="q" placeholder="Buscar por modelo" value="{{ request.GET.q }}">
                <button class="botones-buscador" type="submit">Buscar</button>
                <button class="botones-buscador" type="submit"><a href="{% url 'equipo_list' %}">Atrás</a></button>
            </form>
        </div>
    </div>
     <div class="sin-resultado" style="display: none;">
        <p>Lo sentimos, no hay equipos con el modelo <strong id="nombre-buscado"></strong>.</p>
        <p>Si lo deseas, puedes crearlo mediante este botón:</p>
        <a href="{% url 'equipo_create' %}" class="boton-enlace">Crear un equipo</a>
    </div>
    {% if equipos %}
        <table class="tabla">
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Tipo</th>
                    <th colspan=3><a href="{% url 'equipo_create' %}" class="boton-enlace">Crear un equipo</a></th>
                </tr>
            </thead>
            <tbody>
                {% for equipo in equipos %}
                    <tr>
                        <td>{{ equipo.modelo }}</td>
                        <td>{{ equipo.marca }}</td>
                        <td>{{ equipo.tipo }}</td>
                        <td><a href="{% url 'equipo_show' equipo.id %}" class="boton-enlace">Visualizar</a></td>
                        <td><a href="{% url 'equipos_update' equipo.id %}" class="boton-enlace">Modificar</a></td>
                        <td>
                            <form class="formulario-boton-eliminar" method="POST" action="{% url "equipos_delete" equipo.id%}">
                                {% csrf_token %}
                                <input class="boton-eliminar" type="submit" value="Eliminar">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="nada-creado">
            <a href="{% url 'equipo_create' %}" class="boton-enlace">Crear un equipo</a>
            <p>No hay equipos creados.</p>
        </div>
    {% endif %}
{% endblock %}