{% extends 'base.html' %}
{% block contenido %}
    <div class="div-atras">
        <a href="{% url 'orden_list' %}" class="boton-atras"> <i class="fas fa-arrow-left"></i> Atrás </a>
    </div>
    <h2>Editar una orden</h2>
    <div class="div-formulario">
        <form class="formulario" action="{% url 'orden_update' orden.id %}" method="post">
            {% csrf_token %}
            {{ formulario.errors }}
            {{ formulario.as_ul }}
            <input type="submit" value="Editar orden"/>
        </form>
    </div>
{% endblock %}