{% extends 'base.html' %}
{% block contenido %}
    <div class="titulo-buscador">
        <h2>Listado de órdenes</h2>
        <div class="buscador-listas">
            <form method="GET" action="{% url 'orden_list' %}">
                <input id="input-buscador" type="text" name="q" placeholder="Buscar por nombre" value="{{ request.GET.q }}">
                <button class="botones-buscador" type="submit">Buscar</button>
                <button class="botones-buscador" type="submit"><a href="{% url 'orden_list' %}">Atrás</a></button>
                <button id="aumentarTexto" class="zoomMasTexto">+</button>
                <button id="disminuirTexto" class="zoomMenosTexto">-</button>
            </form>
        </div>
    </div>
     <div class="sin-resultado" style="display: none;">
        <p>Lo sentimos, no hay órdenes con el nombre <strong id="nombre-buscado"></strong>.</p>
        <p>Si lo deseas, puedes crearla mediante este botón:</p>
        <a href="{% url 'orden_create' %}" class="boton-enlace">Crear una orden</a>
    </div>
    {% if ordenes %}
        <table class="tabla">
            <thead>
                <tr>
                    <th>Referencia de Fabricación</th>
                    <th>Nombre</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Finalización</th>
                    <th colspan="2"><a href="{% url 'orden_create' %}" class="boton-enlace">Crear una orden</a></th>
                </tr>
            </thead>
            <tbody>
                {% for orden_de_fabricacion in ordenes %}
                    <tr>
                        <td>{{ orden_de_fabricacion.ref_fabricacion}}</td>
                        <td>{{ orden_de_fabricacion.nombre}}</td>
                        <td>{{ orden_de_fabricacion.fecha_inicio|date:"d/m/Y"}}</td>
                        <td>{{ orden_de_fabricacion.fecha_fin|date:"d/m/Y"}}</td>
                        <td><a href="{% url 'orden_update' orden_de_fabricacion.id %}" class="boton-enlace">Modificar</a></td>
                        <td>
                            <form class="formulario-boton-eliminar" method="POST" action="{% url 'orden_delete' orden_de_fabricacion.id %}">
                                {% csrf_token %}
                                <input class="boton-eliminar" type="submit" value="Eliminar">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="nada-creado">
            <a href="{% url 'orden_create' %}" class="boton-enlace">Crear una orden</a>
            <p>No hay órdenes creados</p>
        </div>
    {% endif %}
{% endblock %}