{% extends 'base.html' %}
{% block contenido %}
    <div class="titulo-buscador">
        <h2>Procesos activos</h2>
        <div class="buscador-listas">
            <form method="GET" action="{% url 'proceso_list' %}">
                <input id="input-buscador" type="text" name="q" placeholder="Buscar por nombre" value="{{ request.GET.q }}">
                <button class="botones-buscador" type="submit">Buscar</button>
                <button class="botones-buscador" type="submit"><a href="{% url 'proceso_list' %}">Atrás </a></button>
            </form>
        </div>
    </div>
    <div class="sin-resultado" style="display: none;">
        <p>Lo sentimos, no hay procesos con el nombre <strong id="nombre-buscado"></strong>.</p>
        <p>Si lo deseas, puedes crearlo mediante este botón:</p>
        <a href="{% url 'proceso_create' %}" class="boton-enlace">Crear un proceso</a>
    </div>
    {% if procesos %}
        <table class="tabla">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Referencia</th>
                    <th colspan=3><a href="{% url 'proceso_create' %}" class="boton-enlace">Crear un proceso</a></th>
                </tr>
            </thead>
            <tbody>
                {% for proceso in procesos %}
                    <tr>
                        <td>{{ proceso.codigo_proceso }}</td>
                        <td>{{ proceso.nombre_proceso }}</td>
                        <td>{{ proceso.referencia }}</td>
                        <td><a href="{% url 'procesos_show' proceso.id %}" class="boton-enlace">Visualizar</a></td>
                        <td><a href="{% url 'proceso_update' proceso.id %}" class="boton-enlace">Modificar</a></td>
                        <td>
                            <form class="formulario-boton-eliminar" method="POST" action="{% url "proceso_delete" proceso.id%}">
                                {% csrf_token %}
                                <input class="boton-eliminar" type="submit" value="Eliminar">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="nada-creado">
            <a href="{% url 'proceso_create' %}" class="boton-enlace">Crear un proceso</a>
            <p>No hay procesos creados.</p>
        </div>
    {% endif %}
{% endblock %}