{% extends 'base.html' %}
{% block contenido %}
    <div class="div-atras">
        <a href="{% url 'proceso_list' %}" class="boton-atras"> <i class="fas fa-arrow-left"></i> Atrás </a>
    </div>
    <h2>Detalles del proceso {{ proceso.nombre_proceso }}</h2>
    {% if proceso %}
        <ul class="vista-detallada">
            <li><strong>Código del proceso:</strong> {{ proceso.codigo_proceso }}</li>
            <li><strong>Nombre del proceso:</strong> {{ proceso.nombre_proceso }}</li>
            <li><strong>Referencia:</strong> {{ proceso.referencia }}</li>
            <li><strong>Fecha de inicio del proceso:</strong> {{ proceso.fecha_inicio|date:"d/m/Y" }}</li>
            <li><strong>Fecha final estimada:</strong> {{ proceso.fecha_fin|date:"d/m/Y" }}</li>
            <li>
                <strong>Equipo asignado:</strong> <a href="{% url 'equipo_show' proceso.equipo.id %}">{{ proceso.equipo }}</a>
            </li>
            <li>
                <strong>Empelados asignados:</strong>
            </li>
        </ul>
        <h3>Empleados:</h3>
            {% if empleados %}
                <ol>
                    {% for empleado in empleados %}
                    	<li>
                            <a href="{% url 'empleados_show' empleado.id %}">{{ empleado.nombre }}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>No tiene empleados asociadas.</p>
            {% endif %}
    {% else %}
        <p>No existe este departamento.</p>
    {% endif %}
{% endblock %}