<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Link para poder importar iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block titulo %}Deustubular S.L.{% endblock %}</title>
</head>
<body id="fondo-body">
    <div id="content">
        <!--Seccion header de la pagina-->
        <header>
            <!--Contenedor donde se encuentra la parte de arriba de la pagina-->
            <div class="header-buscador-sesion">
                <div class="header-buscador">
                    <input type="text">
                    <input type="submit" value="Buscar" class="boton-input">
                </div>
                <div class="header-sesion">
                    <a href="#"><strong>Cerrar sesión</strong></a>
                </div>
            </div>
            <!--Contenedor donde se encuentran el logo y el nombre de la empresa-->
            <div class="imagen-titulo">
                <img src="{% static 'images/logoEmpresa.png' %}" alt="Logo de la empresa">
                <h1>Deustubular S.L.</h1>
            </div>
        </header>
        <!--Contenedor donde se encuentran todos los enlaces para navegar por las diferentes paginas-->
        <div class="contenedor-navegacion">
            <nav class="nav-principal">
                <a href="{% url 'empleado_list' %}">Empleados</a>
                <a href="{% url 'proceso_list' %}">Procesos</a>
                <a href="{% url 'equipo_list' %}">Equipo</a>
                <a href="{% url 'orden_list' %}">Órdenes</a>
            </nav>
        </div>
        <!--Contenido de cada archivo html-->
        {% block contenido %}{% endblock %}
        <!--Seccion footer de la pagina-->
        <footer class="footer">
            <!--Div padre del footer-->
            <div class="div-footer">
                <!--div de la izquierda del footer-->
                <div class="contenedor-footer">
                    <h3> | Sobre La empresa</h3>
                    <div class="logo-footer">
                        <img src="{% static 'images/logoEmpresa.png' %}" alt="Logo de la empresa">
                        <h1>Deustubular S.L.</h1>
                    </div>
                    <h4>| Enlaces de interés</h4>
                    <nav class="enlaces-footer">
                        <a href="#">Intranet Deustubular S.L.</a>
                        <a href="#">Departamento IT</a>
                    </nav>
                </div>
                <!--div del centro del footer-->
                <div class="contenedor-footer">
                    <h3>| Soporte</h3>
                    <div class="contenedor-footer-soporte">
                        <p>
                            En caso de existir cualquier fallo, problema o duda
                            relacionada con la página web, pónganse en contacto con
                            el departamento IT.
                            A la derecha encontraréis los tres contactos de los
                            encargados del mantenimiento de la página.
                        </p>
                    </div>
                </div>
                <!--div de la derecha del footer-->
                <div class="contenedor-footer">
                    <h3>| Contacto</h3>
                    <ul>
                        <li><strong>Jon Tolosa:</strong>
                            j.tolosa@opendeusto.es</li>
                        <li><strong>Daniel Pillado:</strong>
                            daniel.pillado@opendeusto.es</li>
                        <li><strong>Jonay Román:</strong>
                            jonay.roman@opendeusto.es</li>
                    </ul>
                </div>
            </div>
            <!--div de abajo del todo del footer-->
            <div class="div-footer-abajo">
                <div class="div-footer-p">
                    <p>© 2024 Deustubular S.L. por Infocoste el Romeral S.L.U. Todos
                        los derechos reservados.</p>
                    <nav class="enlaces-footer-abajo">
                        <a href="#">Información Legal y Privacidad</a>
                        <a href="#">Uso de Cookies y Configuración</a>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/buscador.js' %}"></script>
    <script src="{% static 'js/validar.js' %}"></script>
</body>
</html>