<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block titulo %}TITULO DE ARRIBA{% endblock %}</title>
</head>
<body id="fondo-body">
    <div id="content">
        <header>
            <div class="header-buscador-sesion">
                <div class="header-buscador">
                    <input type="text">
                    <input type="submit" value="Buscar" class="boton-input">
                </div>
                <div class="header-sesion">
                    <a href="#"><strong>Cerrar sesión</strong></a>
                </div>
            </div>

            <!--Contenedor donde van el logo y nombre de la empresa, y el carrito donde van los articulos a comprar-->
            <div class="imagen-titulo">
                <img src="{% static 'images/logoEmpresa.png' %}" alt="Logo de la empresa">
                <h1>Deustubular S.L.</h1>
            </div>


        </header>

        <!--Contenedor donde se encuentran todos los enlaces para navegar por las diferentes paginas-->
        <div class="contenedor-navegacion">

            <!--Nav donde se encuentran todos los enlaces para navegar por las diferentes paginas-->
            <nav class="nav-principal">
                <a href="{% url 'empleado_list' %}">Empleados</a>
                <a href="#">Procesos</a>
                <a href="#">Equipos</a>
                <a href="#">Órdenes</a>
            </nav>
        </div>

        {% block contenido %}{% endblock %}
    </div>

</body>
</html>